In [1]:
import sys
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from ema_workbench.analysis import feature_scoring
sys.path.append('..')

D:\Applications\Anaconda3\envs\py38\lib\site-packages\ema_workbench\analysis\prim.py:30: ImportWarning: altair based interactive inspection not available
  warnings.warn(("altair based interactive "

In [10]:
rbfs = ['squared_exponential_rbf',
        'gaussian_rbf',
        'inverse_quadric_rbf'
       ]

pareto_sets = {}
for name in rbfs:
    output_dir = f"../output/{name}/"
    
    results = pd.read_csv(output_dir + '10_solution.csv')
    results['environment'] = 1 - results['environment']
    
    pareto_sets[name] = results
    
for name in rbfs:
    output_dir = f"../output/{name}/"
    
    results = pd.read_csv(output_dir + '10_solution.csv')
    results['environment'] = 1 - results['environment']
    
    pareto_sets[name] = results

In [11]:
pareto_sets['squared_exponential_rbf'].head()

   hydropower  atomicpowerplant  baltimore   chester  environment  recreation
0   73.154201          0.778500   0.640140  0.743475     0.913032         1.0
1   68.964924          0.683074   0.833056  0.702342     0.911085         1.0
2   61.437643          0.951015   0.312643  0.314327     0.921434         1.0
3   63.605227          0.866501   0.450539  0.646095     0.922830         1.0
4   75.002407          0.913329   0.679578  0.797816     0.912618         1.0

In [3]:
feature_scoring.get_feature_scores_all()

"solutions as x"
" y needs to be a dict of 1 d numpy arrays (convert dataframe with objectives (dataframe.to_dict))"
"visualize with seaborn workbench example feature score seaborn heatmap"

TypeError: get_feature_scores_all() missing 2 required positional arguments: 'x' and 'y'

In [ ]:


x, outcomes = load_results(fn)

# we have timeseries so we need scalars
y = {'deceased population': outcomes['deceased population region 1'][:, -1],
     'max. infected fraction': np.max(outcomes['infected fraction R1'],
                                      axis=1)}

scores = feature_scoring.get_feature_scores_all(x, y)
sns.heatmap(scores, annot=True, cmap='viridis')
plt.show()